<form id='newTweetForm' method='post' action='/tweets'>
  <div>
    <input type='text' name='tweet[subject]' placeholder='Subject'/>
  </div>
  <div>
    <input type='text' name='tweet[body]' placeholder='Body'/>
  </div>
  <div>
    <input type='text' name='tweet[username]' placeholder='Username'/>
  </div>
  <div>
    <input type='submit'>
  </div>
</form>
