<center><div>
  <% if logged_in? %>
    <a href="/users/:id"><%= current_user.name %></a>
    <br>
    <a href="/sessions/logout"> Log Out</a>
  <% else %>
    <div>New Users: <a href="/users/new">Sign Up</a> </div>
    <div>Existing Users: <a href='/sessions/new'>Log In</a> </div>
  <% end %>
</div>

  <br>

