<ul>
    <li class="banner"><a href="/">DBC OVERFLOW</a></li>
  <% if logged_in? %>
    <li><a href="/sessions/logout"> Log Out</a></li>
    <li><a href='/questions/new'> Ask a Question! </a></li>
    <li><a href="/users/<%=current_user.id%>"><%= current_user.name %></a></li>
  <% else %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href='/sessions/new'>Log In</a></li>
  <% end %>
</ul>
