<h2>Write a question:</h2>

    Username:<br>
<!-- binding.pry -->
  <form id='question-form' action='/questions' method='post'>
    Title:<br>
    <input type='text' name='question[title]' class="input input-round" placeholder="Untitled"><br>
    <br>
    <br>

    Body:<br>
      <label for="question[body]" class="label"></label>
      <input type='text' name='question[body]' class="input input-round" placeholder="Ask Here"><br>
      <!-- I have placed in a seperate file some code I have not seen before and could not comment out about text areas, put in scrap-paper.md -->
  <input type="submit" name="submit" value="Submit" class="input button">
  </form>

</div>

