<div class="container">
  <br>
  <div>Question Title</div>
  <h3><%= @question.title %></h3>
  <br><br>
  <div>Question Body</div>
  <h4><%= @question.body %></h4>
  <br><br>

  <br><br>
  <div>Question Answers</div>
  <br><br>
  <% @question_answers.each do |answer| %>
    <%= answer.body %>
  <%end%>
</div>
