<form method="post" action="/questions/<%= @question.id %>/answers">
  <div>
    <input type="text" name="answer[body]" placeholder="Answer the Question!">
  </div>
  <div>
    <input type='submit' value="Submit">
  </div>
</form>
