<div class="form">
  <form method="post" action="/questions/<%= @question.id %>/answers">
    <input type="text" name="answer[body]" placeholder="Answer the Question!">
    <input type='submit' value="Submit">
  </form>
</div>
