<div class="container">
  <div class="questions-show">
<h2><%= @question.title %></h2>

<div>Created By: <%= @question.user.username %></div>

<h3 class="question-body"><%= @question.body %></h3>

<%= erb :"answers/_edit", layout: false, locals: {question: @question, answers: @answer} %>

</div>
</div>
