<h2>New Answer</h2><br><br>

<h2><%= @question.title %></h2><br>
<div>Created By: <%= @question.user.username %></div><br>
<div><%= @question.body %></div><br>

<%= erb :"answers/_new", layout: false, locals: {question: @question} %>
