<div class="container">

  <center><h1>DBC Overflow</h1></center>

  <br>

  <h3>New Users:</h3>
  <a href="/users/new">Sign Up</a>

  <h3>Existing Users:</h3>
  <a href="/sessions/new">Log In</a>

</div>
